<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BakkesModInjectorCs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BakkesModInjectorCs.Properties.Settings>
            <setting name="SAFE_MODE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AUTO_UPDATE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STARTUP_MINIMIZE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MINIMIZE_HIDE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STARTUP_RUN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TOPMOST" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CHANGELOG_COLLAPSED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JUST_UPDATED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TIMEOUT_VALUE" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="INJECTION_TYPE" serializeAs="String">
                <value>timeout</value>
            </setting>
            <setting name="BAKKESMOD_FOLDER" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="BM_VERSION" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="RL_BUILD" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="WINDOW_TTILE" serializeAs="String">
                <value>BakkesModInjectorCs - Community Edition</value>
            </setting>
            <setting name="INJECTOR_VERSION" serializeAs="String">
                <value>v2.1.4</value>
            </setting>
            <setting name="RL_VERSION" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="PLATFORM" serializeAs="String">
                <value>null</value>
            </setting>
        </BakkesModInjectorCs.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>